<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear Personas</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <a href="../../index.html">
          <img src="../img/logoprueba.png" alt="DataHub Logo" />
        </a>
      </div>
      <ul>
        <li><a href="crear_persona.html">Crear Personas</a></li>
        <li><a href="editar_persona.html">Modificar Datos Personales</a></li>
        <li><a href="consultar_persona.html">Consultar Datos Personales</a></li>
        <li><a href="borrar_persona.html">Borrar Personas</a></li>
        <li><a href="#log">Consultar Log</a></li>
      </ul>
    </div>
    <div class="container">
      <h1>Crear Persona</h1>
      <form
        id="crearPersonaForm"
        action="http://localhost:8000/create/"
        method="post"
        enctype="multipart/form-data"
      >
        <div>
          <label for="tipoDocumento">Tipo de Documento:</label>
          <select id="tipoDocumento" name="tipoDocumento" required>
            <option value="Tarjeta de identidad">Tarjeta de Identidad</option>
            <option value="Cedula">Cédula</option>
          </select>
        </div>
        <div>
          <label for="numeroDocumento">Número de Documento:</label>
          <input
            type="text"
            id="numeroDocumento"
            name="numeroDocumento"
            pattern="^[0-9]{1,10}$"
            title="Max 10 números"
            required
          />
        </div>
        <div>
          <label for="primerNombre">Primer Nombre:</label>
          <input
            type="text"
            id="primerNombre"
            name="primerNombre"
            pattern="^[A-Za-z\s]{1,30}$"
            title="Máx 30 caracteres"
            maxlength="30"
            required
          />
        </div>
        <div>
          <label for="segundoNombre">Segundo Nombre:</label>
          <input
            type="text"
            id="segundoNombre"
            name="segundoNombre"
            maxlength="30"
            pattern="^[A-Za-z\s]{1,30}$"
            title="Máx 30 caracteres"
          />
        </div>
        <div>
          <label for="apellidos">Apellidos:</label>
          <input
            type="text"
            id="apellidos"
            name="apellidos"
            maxlength="60"
            pattern="^[A-Za-z\s]{1,60}$"
            title="Máx 60 caracteres"
            required
          />
        </div>
        <div>
          <label for="fechaNacimiento">Fecha de Nacimiento:</label>
          <input
            type="date"
            id="fechaNacimiento"
            name="fechaNacimiento"
            required
          />
        </div>
        <div>
          <label for="genero">Género:</label>
          <select id="genero" name="genero" required>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
            <option value="No binario">No binario</option>
            <option value="Prefiero no reportar">Prefiero no reportar</option>
          </select>
        </div>
        <div>
          <label for="email">Correo Electrónico:</label>
          <input
            type="email"
            id="email"
            name="email"
            title="Complete con el formato de correo"
            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
            required
          />
        </div>
        <div>
          <label for="celular">Celular:</label>
          <input
            type="text"
            id="celular"
            name="celular"
            pattern="^[0-9]{10}$"
            title="Deben ser 10 números"
            required
          />
        </div>
        <div>
          <label for="foto">Foto:</label>
          <input type="file" id="foto" name="foto" accept="image/*" required />
        </div>
        <div class="botones_modificar">
          <button type="submit">Crear</button>
          <button type="submit" id="limpiar">Limpiar datos</button>
        </div>
      </form>
    </div>
    <script src="../crear.js" defer></script>
  </body>
</html>
