<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modificar Personas</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <a href="../../index.html">
          <img src="../img/logoprueba.png" alt="DataHub Logo" />
        </a>
      </div>
      <ul>
        <li><a href="crear_persona.html">Crear Personas</a></li>
        <li><a href="editar_persona.html">Modificar Datos Personales</a></li>
        <li><a href="consultar_persona.html">Consultar Datos Personales</a></li>
        <li><a href="borrar_persona.html">Borrar Personas</a></li>
        <li><a href="log_persona.html">Consultar Log</a></li>
      </ul>
    </div>
    <div class="container">
      <h1>Modificar Datos Personales</h1>
      <form id="buscarPersonaForm">
        <div>
          <label for="searchNumeroDocumento">Número de Documento:</label>
          <input
            type="number"
            id="searchNumeroDocumento1"
            name="searchNumeroDocumento"
            pattern="\d{1,10}"
            required
          />
        </div>
        <button type="button" onclick="fetchUserDataEditar()">Buscar</button>
      </form>
      <form id="actualizarPersonaForm">
        <div>
          <label for="tipoDocumento">Tipo de Documento:</label>
          <select id="tipoDocumento1" name="tipoDocumento" required disabled>
            <option value="Tarjeta de identidad">Tarjeta de Identidad</option>
            <option value="Cedula">Cédula</option>
          </select>
        </div>
        <div>
          <label for="primerNombre">Primer Nombre:</label>
          <input
            type="text"
            id="primerNombre1"
            name="primerNombre"
            maxlength="30"
            required
          />
        </div>
        <div>
          <label for="segundoNombre">Segundo Nombre:</label>
          <input
            type="text"
            id="segundoNombre1"
            name="segundoNombre"
            maxlength="30"
          />
        </div>
        <div>
          <label for="apellidos">Apellidos:</label>
          <input
            type="text"
            id="apellidos1"
            name="apellidos"
            maxlength="60"
            required
          />
        </div>
        <div>
          <label for="fechaNacimiento">Fecha de Nacimiento:</label>
          <input
            type="date"
            id="fechaNacimiento1"
            name="fechaNacimiento"
            required
          />
        </div>
        <div>
          <label for="genero">Género:</label>
          <select id="genero1" name="genero" required>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
            <option value="No binario">No binario</option>
            <option value="Prefiero no reportar">Prefiero no reportar</option>
          </select>
        </div>
        <div>
          <label for="email">Correo Electrónico:</label>
          <input type="email" id="email1" name="email" required />
        </div>
        <div>
          <label for="celular">Celular:</label>
          <input
            type="number"
            id="celular1"
            name="celular"
            pattern="\d{10}"
            required
          />
        </div>
        <div>
          <label for="foto">Foto:</label>
          <input type="file" id="foto1" name="foto" accept="image/*" />
        </div>
        <div class="botones_modificar">
          <button type="submit">Actualizar</button>
          <button type="submit" id="limpiar">Limpiar datos</button>
        </div>
      </form>
    </div>
    <script src="../editar.js"></script>
  </body>
</html>
