<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Consultar Log</title>
    <link rel="stylesheet" href="../style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </head>
  <body>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          flatpickr("#datepicker", {
              dateFormat: "d-m-Y",
              allowInput: true,
              maxDate: "today" // Establecer la fecha máxima en hoy

          });
      });
  </script>
    <div class="navbar">
      <div class="logo">
        <a href="../../index.html">
          <img src="../img/logoprueba.png" alt="DataHub Logo" />
        </a>
      </div>
      <ul>
        <li><a href="crear_persona.html">Crear Personas</a></li>
        <li><a href="editar_persona.html">Modificar Datos Personales</a></li>
        <li><a href="consultar_persona.html">Consultar Datos Personales</a></li>
        <li><a href="borrar_persona.html">Borrar Personas</a></li>
        <li><a href="log_persona.html">Consultar Log</a></li>
      </ul>
    </div>
    <div class="container">
      <h1>Consultar Log</h1>
      <form id="buscarLogForm">
        <div>
          <label for="searchNumeroDocumento">Número de Documento:</label>
          <input
            type="text"
            id="searchNumeroDocumento"
            name="searchNumeroDocumento"
            maxlength="10"
            pattern="^[0-9]{1,10}$"
            placeholder="Número de Documento"
          />
        </div>
        <div>
          <label for="searchFecha">Fecha:</label>
          <input
            type="date"
            id="datepicker"
            name="searchFecha"
            placeholder="Selecciona o ingresa una fecha (dd-mm-yyyy)"
            required
          />
        </div>
        <div>
          <label for="tipoAccion">Tipo de Acción:</label>
          <select id="tipoAccion" name="tipoAccion" required>
            <option value="">Sin seleccionar</option>
            <option value="crear usuario">Crear usuario</option>
            <option value="leer usuario">Leer usuario</option>
            <option value="actualizar usuario">Actualizar usuario</option>
            <option value="eliminar usuario">Eliminar usuario</option>
          </select>
        </div>
        <button id="buscar_log" type="button" onclick="fetchLogData()">
          Buscar
        </button>
      </form>
      <div id="logResults"></div>
    </div>
    <script src="../consultar_log.js"></script>
  </body>
</html>
